.board {
  width: 100%;
  border: 1px solid #dad7d7;
  border-radius: 1rem;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 15px;

  .profile {
    flex-grow: 1;
    border-left: 1px solid #dee2e6;
    padding: 0 10px;

    > p {
      margin-bottom: 0;
      padding: 5px 0;
    }

    &-name {
      //padding: 0 10px;
    }

    &-stat {
      display: flex;
      justify-content: space-between;
    }
  }

  .score {
    flex-grow: 1;
    border-left: 1px solid #dee2e6;
    padding-left: 10px;

    &-details {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border: 1px solid #dee2e6;


      span {
        text-align: center;
      }

      > span:first-of-type {
        background: #dee2e6;
        padding: 5px 0;
      }

      > span:last-of-type {
        padding: 28px 0;
      }

      > span:last-of-type span {
        background-color: green;
        color: white;
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        padding-top: 4px;
      }


    }
  }
}

//.board .user--detail > div {
//  padding: 0 10px;
//}
//
//.board .user--detail .user
//
//.board .user--detail .user--stat > p {
//  margin-bottom: 0;
//  padding: 5px 0;
//}
