.btn {
  &-custom {
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 100%;
    outline: 1px;
    position: relative;
  }
}
